* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}

header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: #444;
    color: #fff;
    padding: 1em;
    margin-bottom: 20px;
}

header h4 {
    font-size: 20px;
}

main {
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: row;
    justify-content: space-evenly;
}

main section {
    display: flex;
    flex-direction: column;
    align-content: stretch;
}

main section .column-1 {
    width: 30%;
}

table.currency-table {
    display: inline-block;
    width: 100%;
}

table.currency-table tr th,
table.currency-table tr td {
    padding: 4px;
}

table.currency-table tr td img {
    width: 20px;
    border: 1px solid #ccc;
}

option img {
    height: 10px;
    width: 10px;
}

h3 {
    font-size: 24px;
    color: deepskyblue;
    margin-bottom: 20px;
}

button {
    padding: 4px 6px;

}

select, input {
    padding: 5px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.row {
    max-height: 50%;
    margin-bottom: 50px;
}

.koers-value, .calc-value {
    font-size: 36px;
    text-align: center;
}

.calc-value {
    margin-top: 40px;
}

.currency-symbol {
    font-size: 9px;
    font-style: italic;
}

.table-column-description {
    font-size: 9px;
    font-style: italic;
}

.currency-table tbody tr:first-child td {
    border-top: 1px solid deepskyblue;
}